
<%= form_for @blog do |f| %>
  <div class="form-group">
    <div class="row justify-content-md-center">
      <% if current_user_admin? || current_user.superadmin? %>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group ">
                <%= f.label :blog_feature, "Blog Display:", class: "col-12 col-form-label text-left"%>
                <div class="col-12">
                  <%= f.select :blog_feature, Blog.blog_features.map { |key, value| [key.humanize, key]}, prompt: "Select...", class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group ">
                <%= f.label :feature, "Featured:", class: "col-12 col-form-label text-left"%>
                <div class="col-12">
                  <%= f.select :feature, Blog.features.map { |key, value| [key.humanize, key]}, prompt: "Select...", class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group ">
                <%= f.label :blog_pro, "Pro:", class: "col-12 col-form-label text-left"%>
                <div class="col-12">
                  <%= f.select :blog_pro, Blog.blog_pros.map { |key, value| [key.humanize, key]}, prompt: "Select...", class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
        </div>

      <% end %>
      <div class="col-md-10">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control", placeholder: "Title of blog", autofocus: true %>
      </div><br /><br />
      <div class="col-md-10" style="margin-top: 10px">
        <%= f.label :content %><br>
        <%= f.text_area :content, rows: "10", class: "form-control ckeditor", placeholder: "Blog Content" %>
      </div>
    </div>
  </div><br>
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <label class= "btn btn-normal pull-left">
        Upload a image<%= f.file_field :image, style: "display: none;" %>
      </label>
      <%#= f.file_field :image, class: "pull-left" %>
      <%= f.submit class: "btn btn-normal pull-right" %>
    </div>
  </div>

  <!-- <div class="form-group">
    <label class= "btn btn-primary">
      Upload a image<%= f.file_field :image, style: "display: none;" %>
    </label>

  </div> -->

  <!-- <div class="form-group">
    <div class="col-md-offset-1 col-md-10">
      <%= f.submit class: "btn btn-primary btn-lg pull-right" %>
    </div>
  </div> -->

<% end %>

<script>

  $(document).ready(function() {
    $('.ckeditor').ckeditor({
      // optional config
    });
  });

</script>
