<div class="row" id="edit-profile">
  <!-- <div > -->

    <div class="col-md-3 col-sm-5 col-2 text-center" id="profile-menu">
      <%= render 'shared/profile_nav' %>
    </div>

    <div class=" col-md-9 col-sm-7 col-10 text-center" id="profile-content">
      <div class="container">
        <div class="card">
          <div class="card-header">Update Profile</div>
            <div class="card-body">
              <div class="container-flow">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= render 'shared/devisemessage' %>

                <div class="card">
                  <div class="card-header" id="update_profile_header">Required</div>
                  <div class="card-body">
                    <div class= "row">
                      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                        <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />

                        <%#- else devise_mapping.confirmable? && controller_name = 'confirmations' %>
                          <!-- Your email has been confirmed -->
                      <% end -%>
                    </div>
                    <div class="form-group row">
                      <span >
                      <%= f.radio_button :user_type, 'Agent' %>
                      <%= f.label :user_type, 'Real Estate Agent' %>
                      </span>&nbsp;&nbsp;
                      <span>
                        <%= f.radio_button :user_type, 'Owner' %>
                        <%= f.label :user_type, 'Property Owner' %>
                      </span>&nbsp;&nbsp;
                      <span >
                      <%= f.radio_button :user_type, 'Builder' %>
                      <%= f.label :user_type, 'Developer' %>
                      </span>&nbsp;&nbsp;
                      <span>
                        <%= f.radio_button :user_type, 'User' %>
                        <%= f.label :user_type, 'User' %>
                      </span>
                    </div>
                    <div class="form-group row">
                      <div class="d-none d-md-block col-lg-3 col-md-4 col-form-label text-left">
                        <%= f.label :username %>
                        <%= fa_icon "lock", right: true, class: "fa-profile"  %>
                      </div>

                      <div class="col-lg-9 col-md-8">
                        <%= f.text_field :username, autofocus: true, class: "form-control ", placeholder: "Username"%>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="d-none d-md-block col-lg-3 col-md-4 col-form-label text-left">
                        <%= f.label :first_name, "First Name" %>
                        <%= fa_icon "lock", right: true, class: "fa-profile" %>
                      </div>
                      <div class="col-lg-9 col-md-8">
                        <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="d-none d-md-block col-lg-3 col-md-4 col-form-label text-left">
                        <%= f.label :last_name, "Last Name" %>
                        <%= fa_icon "lock", right: true, class: "fa-profile" %>
                      </div>
                      <div class="col-lg-9 col-md-8">
                        <%= f.text_field :last_name, autofocus: true, class: "form-control ", placeholder: "Enter your last name"%>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="d-none d-md-block col-lg-3 col-md-4 col-form-label text-left">
                        <%= f.label :email, "Email Address" %>
                        <%= fa_icon "lock", right: true, class: "fa-profile" %>
                      </div>
                      <div class="col-lg-9 col-md-8">
                        <%= f.email_field :email, class: "form-control", placeholder: "Your Email" %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <%= f.label :bio, "Describe Yourself", class: "d-none d-md-block col-lg-3 col-md-4 col-form-label text-left"%>
                      <div class="col-lg-9 col-md-8">
                        <%= f.text_area :bio, rows: "15", cols: "25", placeholder: "Describe Yourself", class: "form-control" %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <%= f.label :address, class: "d-none d-md-block col-lg-3 col-md-4 col-form-label text-left"%>
                      <div class="col-lg-9 col-md-8">
                        <%= f.text_field :address, class: "form-control", placeholder: "Your Address Location", id: "auto_address" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="d-none d-md-block col-lg-3 col-md-4 col-form-label text-left">
                        <%= f.label :gender, "I Am" %>
                        <%= fa_icon "lock", right: true, class: "fa-profile" %>
                      </div>
                      <div class="col-lg-9 col-md-8">
                        <%= f.select :gender, [["Male", "Male"], ["Female", "Female"], ["Other", "Other"]],
                                      id: "gender", prompt: "Select...", class: "form-control" %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <%= f.label :dateofbirth, "Birth Date", class: "d-none d-md-block col-lg-3 col-md-4 col-form-label text-left"%>
                      <div class="col-lg-9 col-md-8">
                        <%= f.text_field :dateofbirth, placeholder: "DOB", class: "form-control datepicker" %>
                      </div>
                    </div>
                  </div>
                </div><br/>




                  <div class="card">
                    <div class="card-header" id="update_profile_header">Company Info (OPTIONAL)</div>
                    <div class="card-body">

                      <div class="form-group row">
                        <%= f.label :business_name, "Business Name", class: "d-none d-md-block col-lg-3 col-md-4 col-form-label text-left"%>
                        <div class="col-lg-9 col-md-8">
                          <%= f.text_field :business_name, class: "form-control", placeholder: "Business/Company Name" %>
                        </div>
                      </div>
                      <div class="form-group row">
                        <%= f.label :company_address, "Business Address", class: "d-none d-md-block col-lg-3 col-md-4 col-form-label text-left"%>
                        <div class="col-lg-9 col-md-8">
                          <%= f.text_field :company_address, class: "form-control", placeholder: "Business/Company Address", id: "auto_address" %>
                        </div>
                      </div>
                      <div class="form-group row">
                        <%= f.label :website, "Website URL", class: "d-none d-md-block col-lg-3 col-md-4 col-form-label text-left"%>
                        <div class="col-lg-9 col-md-8">
                          <%= f.text_field :website, class: "form-control", placeholder: "http://www.yourcompanyname.com" %>
                        </div>
                      </div>

                    </div>
                  </div><br/>

                  <div class="card">
                    <div class="card-header" id="update_profile_header">Optional</div>
                    <div class="card-body">
                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                      <% end %>

                      <div class="form-group">
                        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "New Password (leave blank if you don't want to change it)"%>
                        <!-- <% if @minimum_password_length %>
                          <br />
                          <em><%= @minimum_password_length %> characters minimum</em>
                        <% end %> -->
                      </div>

                      <div class="form-group">
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password" %>
                      </div>
                    </div>
                  </div><br/>

                  <div class="form-group">
                    <%= f.submit "Update", class: "btn btn-normal btn-block" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>

<script>
  $(document).ready(function() {
    $('.datepicker').datepicker();
  });
</script>
