<ul class="nav justify-content-center listing_tab">
  <li class="nav-item">
    <%= link_to "Property Information", listing_listing_path, class: "sidebar-link nav-link active", id: "text-nav" %>
  </li>
  <!-- <li class="nav-item">
    <%#= link_to "Features", features_listing_path, class: "sidebar-link nav-link active", id: "text-nav" %>
  </li> -->
  <li class="nav-item">
    <% if @listing.description.blank? %>
      <%= link_to "Property Details & Features", description_listing_path, class: "sidebar-link nav-link disabled" %>
    <% else %>
      <%= link_to "Property Details & Features", description_listing_path, class: "sidebar-link nav-link active", id: "text-nav" %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if @listing.photos.blank? %>
      <%= link_to "Photos & Video", photo_upload_listing_path, class: "sidebar-link nav-link disabled" %>
    <% else %>
      <%= link_to "Photos & Video", photo_upload_listing_path, class: "sidebar-link nav-link active", id: "text-nav" %>
    <% end %>
  </li>


  <%# if !@listing.active && !@listing.price.blank? && !@listing.description.blank? && !@listing.photos.blank? && !@listing.location.blank? %>
  <%# if !@listing.listing_type.blank? && !@listing.price.blank? && !@listing.description.blank? && !@listing.photos.blank? && !@listing.location.blank? %>

    <%= form_for @listing do |f| %>
      <%= f.hidden_field :active, value: true %>
      <li><%= f.submit "Publish", id: "activate_publish_btn", class: "btn btn-publish btn-block" %></li>
    <% end %>
  <%# end %>

</ul>
