<div class="container">
  <div class="row justify-content-md-center listing-new">
    <div class="col-md-11">
      <div class=" card card-default">
        <div class="card-header text-center">
          <span class="listing-title">Add Your Listing</span>
        </div>
        <div class="card-body">
          <div class="container-flow">
            <div class="listing-nav-menu">
              <%= render 'listing_nav' %>
            </div>
            <div class="listing-sub-heading">
              Fields marked with an asterisk (*) are mandatory
            </div>
            <%= form_for @listing do |f| %>
            <% if current_user_admin? %>
              <div class="form-group row">
                <%= f.label :featured, "Featured:", class: "d-none d-md-block col-lg-3 col-md-4 col-form-label text-left"%>
                <div class="col-lg-9 col-md-8">
                  <%= f.select :featured, Listing.featureds.map { |key, value| [key.humanize, key]}, prompt: "Select...", class: "form-control" %>
                </div>
              </div>
            <% end %>
            <div class="row">
              <div class="col-md-4 col-sm-6 select">
                <div class="form-group">
                  <label>Listing Type</label><span class='required-aesterik'>*</span>
                  <%= f.select :listing_type, [["For Sale", "For Sale"], ["For Rent", "For Rent"], ["Short Stay", "Short Stay"]],
                                id: "listing_type", prompt: "Select...", class: "form-control" %>
                </div>
              </div>
              <div class="col-md-8 col-sm-6">
                <div class="form-group input-text">
                  <label>Listing Title</label><span class='required-aesterik'>*</span>
                  <%= f.text_field :listing_title, placeholder: "Give your Listing a title", class: "form-control", required: true %>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 select">
                <div class="form-group">
                  <label>Property Type</label><span class='required-aesterik'>*</span>
                  <%= f.select :property_type, [["Apartments/Flats", "Apartments/Flats"], ["Blocks Of Flats", "Blocks Of Flats"], ["Luxury Serviced Apartments", "Luxury Serviced Apartments"],
                                ["Bungalow", "Bungalow"], ["Duplexes", "Duplexes"], ["Self Contained/Studio", "Self Contained/Studio"],["Townhouses", "Townhouses"],
                                ["Penthouse", "Penthouse"], ["Terraces", "Terraces"], ["Commercial Property", "Commercial Property"], ["Industrial/Warehouse", "Industrial/Warehouse"],
                                ["Single Family House", "Single Family House"], ["Multi-Family-Home", "Multi-Family-Home"],["Hotels", "Hotels"], ["Land", "Land"],  ["Farms", "Farms"]
                                ],
                                id: "property_type", prompt: "Select...", class: "form-control" %>
                </div>
              </div>


              <div class="col-md-4 col-sm-6 select">
                <div class="form-group">
                  <label>Bedrooms</label><span class='required-aesterik'>*</span>
                  <%= f.select :bedroom, [["None", 0], ["1 Bedroom", 1], ["2 Bedrooms", 2], ["3  Bedrooms", 3], ["4 Bedrooms", 4], ["5 Bedrooms", 5], ["6 Bedrooms", 6], ["7+ Bedrooms", 7]],
                                id: "bedroom", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 select">
                <div class="form-group">
                  <label>Bathrooms</label><span class='required-aesterik'>*</span>
                  <%= f.select :bathroom, [["None", 0], ["1 Bathroom", 1], ["2 Bathrooms", 2], ["3 Bathrooms", 3], ["4 Bathrooms", 4], ["5 Bathrooms", 5], ["6 Bathrooms", 6], ["7+ Bathrooms", 7]],
                                id: "bathrooms", prompt: "Select...", class: "form-control" %>
                </div>
              </div>


              <div class="col-md-4 col-sm-6">
                <div class="form-group">
                  <label>Year Built</label>
                  <%= f.text_field :year_built, placeholder: "Year Built", class: "form-control" %>
                </div>
              </div>


              <div class="col-md-4 col-sm-6">
                <div class="form-group">
                  <label>Square Feet</label>
                  <%= f.text_field :square_feet, placeholder: "Size in Square Feet", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="form-group">
                  <label>Number of Floors</label>
                  <%= f.text_field :number_of_floors, placeholder: "Number of Floors", class: "form-control" %>
                </div>
              </div>


            </div>
            <div><%= f.submit "Save", class: "btn btn-normal" %></div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

</div>
