<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="center">
        <% if @user.pictures.count > 0 %>
          <%= image_tag @user.pictures[0].avatar.url(), class: "avatar_full" %>
        <% else %>
          <%= image_tag avatar_url(@user), class: "avatar_full" %>
        <% end %>

          <% if current_user && current_user != @user %>
            <%= link_to "Send Message", chats_path(sender_id: current_user.id, recipent_id: @user.id), method: :post, class: "btn btn-secondary" %>
          <% end %>
      </div>

      <div class="card">
        <div class="card-header">Verification Status</div>
        <div class="card-body">
          <div class="sidebar-list">
            <% if @user.confirmation_token%>
              <div><%= fa_stacked_icon "envelope", base: "square-o", text: "Email Verified", left: true %><span class="pull-right icon-flister"><i class="fa fa-check-circle-o"></i></span></div>
            <% end %>
            <% if @user.provider %>
              <div><%= fa_stacked_icon "facebook ", base: "square-o", text: "Facebook Verified", left: true %><span class="pull-right icon-flister"><i class="fa fa-check-circle-o"></i></span></div>
            <% end %>
            <% if @user.phone_verified %>
              <div><%= fa_stacked_icon "phone ", base: "square-o", text: "Phone Verified", left: true %><span class="pull-right icon-flister"><i class="fa fa-check-circle-o"></i></span></div>
            <% end %>

          </div>
        </div>
        <% if current_user && current_user == @user %>
        <%#= link_to (edit_user_registration_path) do %>
          <%= link_to (fa_stacked_icon "edit ", text: "Update Profile", class: "float-left"), edit_user_registration_path, class: "btn btn-normal btn-block" %>
        <%# end %>
      <% else %>
        <%= render 'contacts/form' %>
      <% end %>

      </div>
    </div>
    <div class="col-md-9">
      <h2><%= @user.full_name %></h2>
      <div class="about row-space-3">
        <%= @user.bio %>
      </div>
      <h4>Listings (<%= @listings.length %>)</h4><br>
      <div class="row ">
        <% @listings.each do |listing| %>
          <div class="col-lg-4 col-md-6 col-sm-6 user-profile-listing">
            <div class="card">
              <div class="card-header preview">
                <%= image_tag listing.backgroud_image(:medium)%>
              </div>
              <div class="card-body">
                <%= link_to listing.listing_title, listing %><br>
                <span>
                  <%= listing.listing_type %>
                  <%= link_to listing.prices, listing, style: "float: right; color: #565a5c;"   %>
                </span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class='row'>
      <!-- REVIEWS -->
      <!-- <div class="row">
        <h4>Reviews (<%#= @reviews.count %>)</h4>
        <div class="row">
          <#%= render "reviews/review" %>
        </div>
        <br/>

        <%#= render 'reviews/form' %>
      </div> -->
      </div>
      <br>
    </div>
  </div>
</div>
