<footer>
	<div class='container'>
		<div class='bottom'>
			<div class='row '>
				<div class='col-md-3 col-sm-3 col-6 contact_us'>
					<h3>Contact us</h3>

					<address>
					  <strong>Dev Konnect</strong><br>
					  12800 Harrisglenn Drive<br>
					  Austin, TX 78753<br>
					  <abbr title="Phone">P:</abbr> (240) 716-9907<br>
					  <a href="mailto:app@app-cubator.com">hello@dkonnect.com</a>
					</address>
				</div>
				<div class=' col-md-2 col-sm-3 col-6 footer-menu'>
					<h3 style="text-align: center;">About</h3>
						<ul>
							<li><%= link_to " Projects", root_path, class: 'fa fa-database' %></li>
				        <li><%= link_to " Startup Ideas", root_path, class: 'fa fa-dashboard' %></li>
				        <li><%= link_to " TechJobs", root_path, class: 'fa fa-code' %></li>
				         <li><%= link_to " Tips & Insights", root_path, class: 'fa fa-comment' %></li>

				        <li><%= link_to ' Contact Us', root_path, class: ' fa fa-envelope ' %></li> </ul>

					<%#= render "contacts/form" %>

				</div>

				<div class='col-md-3 col-sm-3 col-12 connect'>
					<h3>Connect with us!</h3>
					<p>Don't hesitate to connect with us<br> on your favourite social networks...</p>
					<a href = "https://www.linkedin.com/company/inventtive" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
					<a href = "https://www.facebook.com/inventtive" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
					<a href = "https://github.com/Inventivelab" target="_blank"><i class="fa fa-github fa-2x"></i></a>
					<a href = "https://twitter.com/saidmaadan" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
					<a href = "https://youtube.com/saidmaadan" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
					<a href = "https://dribbble.com/saidmaadan" target="_blank"><i class="fa fa-dribbble fa-2x"></i></a>
					<a href = "https://google.com/saidmaadan" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>

				</div>
				<div class='col-md-4 col-sm-3 col-12 touch'>
					<h3>Get in touch...</h3>
								<p>Have a question about a particular startup project or idea, just curious to know our process, or how the whole system work generally? Drop us a note or give us a call; we’re happy to answer all your questions --></p>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class='last-bottom'>
	<div class='container'>
		<div class="row last justify-content-md-center">
  		<div class='copy center-text'>
  			<p ><span>&copy; 2014 - 2015 Dev-Konnect.</span> All rights reserved. <!-- Developed By <a href = "http://maadan.me" target="_blank">Said Maadan</a> --><br> Made with <i class='fa fa-heart '></i> at <a href = "http://inventivelabs.co" target="_blank">Inventive Labs</a></p>
  		</div>
	  </div>
  </div>
</div>



<!-- <footer class="bg-dark text-white mt-4">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-3">
                <h5>Footer</h5></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-6">I stay at the bottom of the viewport! <span class="small"><br>Unless the page content pushes me further.</span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">©2017 Brand, Inc.</div>
        </div>
    </div>
    <%= fa_stacked_icon "facebook", base: "square-o" %>
    <%= fa_stacked_icon "twitter", base: "square-o" %>
    <%= fa_stacked_icon "linkedin", base: "square-o" %>
    <%= fa_stacked_icon "pinterest", base: "square-o" %>
    <%= fa_stacked_icon "youtube", base: "square-o" %>
</footer> -->
