<div class="row" id="edit-profile">
  <div class="col-md-3 col-sm-5 col-3 text-center" id="profile-menu">
    <%#= render 'shared/profile_nav' %>
    <%= link_to (phone_verification_user_path(user)) do %>
      <i class="fa fa-phone-square" aria-hidden="true"></i>
      <span class="profile-text">Phone Verification</span>
    <% end %>
  </div>

  <div class=" col-md-9 col-sm-7 col-9 text-center" id="profile-content">
    <div class="card">
      <div class="card-header">Notification Settings</div>
        <div class="card-body">
          <div class="container">
              <%= form_for :setting do |f| %>
                <div class="row form-group">
                  <div class="col-md-6 text-center">
                    <%= f.check_box :enable_email %> Email
                  </div>
                  <div class="col-md-6 text-center">
                    <%= f.check_box :enable_sms %> SMS
                  </div>
                </div>
                <div class="text-center">
                  <%= f.submit "Save Your Settings", class: "btn btn-normal" %>
                </div>
              <% end %>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
