<div class="jumbotron jumbotron bg-cover bg-all">
  <div class="overlay"></div>
  <h1 class="display-4"><span class="text-red">NaijaProperty</span> Book unique homes <span class="element"></span> and experience a city like a local</h1>
  <%= render "nav" %>

  <div class="home_page">
    <div class="home_page_left">
      <%= search_form_for @search, url: search_path do |f| %>
        <div class="container">
          <div class="row">
            <div class="col-md-12 search-form-field">
              <div class="input-groupww mb-4eee input-group">

                <%= text_field_tag :search, params[:search], placeholder: "Where are you going?",' aria-label':"Where are you going?", 'aria-describedby':"basic-addon2", class: "form-control", id: "autolocation" %>
                <%= f.select :listing_type_eq_any, [["For Sale", "For Sale"], ["For Rent", "For Rent"],["Short Stay", "Short Stay"]], id: "listing_type", prompt: "Property-Type", class: "form-control select-field" %>

                <%= f.select :bedroom_gteq, [["1 Bedroom", 1], ["2 Bedrooms", 2], ["3 Bedrooms", 3], ["4 Bedrooms", 4], ["5 Bedrooms", 5], ["6+ Bedrooms", 6]], id: "bedroom", prompt: "  Bedroom...  ", class: "form-control select-field" %>
                <%= f.select :bathroom_gteq, [["1 Bathroom", 1], ["2 Bathrooms", 2], ["3 Bathrooms", 3], ["4 Bathrooms", 4], ["5 Bathrooms", 5], ["6+ Bathrooms", 6]], id: "bathroom", prompt: "  Bathroom...", class: "form-control select-field"  %>
                <%= button_tag fa_icon("search "), class: "btn btn-normal", id: "register-button", style: "font-size: 1.8rem" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>

<div class="container-show">
  <div class="row">
    <%= render partial: "listings/listings_list", locals: {listings: @listings_all.limit(4)} %>
  </div>
</div>
<div class="listing_one">
  <div class="container-show">
    <% @listing_one.each do |listing| %>
    <div class="row">
      <div class="col-sm-7">
        <div class="single-item">
          <% listing.photos.each do |photo| %>
            <%= image_tag photo.image.url(), class: "card-img-top", width: '100%', height: "350px" %>
          <% end %>
        </div>
        <!-- <div>
          <%#= image_tag listing.backgroud_image(:medium), width: '100%', height: "300px" %>
            <%#= image_tag photo.image.url(), class: "card-img-top", width: '100%', height: "250px" %>
        </div> -->
      </div>
      <div class="col-sm-5"><br/>
        <span class="card-title listing_one_title"><%= link_to listing.listing_title, listing %></span><br/>
        <span ><%= listing.location %></span>
        <p class="listing_one_desc"><%= sanitize truncate(listing.description, :length => 300, :separator => ' ') %></p>

      </div>
      <%#= render partial: "listings/listings_list", locals: {listings: @listings_all.limit(4)} %>
    </div>
    <% end %>
  </div>
</div>
<br>
<div class="container">
  <div><h3>Cities</h3></div>
    <br/>
  <div class="row">

    <div class="col-md-3 col-sm-6">
      <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=austin">
        <div class="discovery-card" style="background-image: url('/assets/LA.jpg')"></div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6">
      <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=london">
        <div class="discovery-card" style="background-image: url('/assets/LD.jpg')"></div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6">
      <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=paris">
        <div class="discovery-card" style="background-image: url('/assets/PR.jpg')"></div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6">
      <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=new+york">
        <div class="discovery-card" style="background-image: url('/assets/MI.jpg')"></div>
      </a>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){

    $('.single-item').slick({
      // dots: true
    });
    //$('.fade').slick();
  });
</script>

<%#= render "script" %>
