<div class="jumbotron jumbotron bg-cover bg-rent">
  <div class="overlay"></div>
  <h1 class="display-4"><span class="text-red">NaijaProperty</span> Book unique homes <span class="element"></span> and experience a city like a local</h1>
  <%= render "nav" %>

  <div class="home_page">
    <div class="home_page_left">
      <%= search_form_for @rent, url: search_path do |f| %>
      <%#= form_tag sales_path, method: :get do |f| %>
        <div class="container">
          <div class="row">
            <div class="col-md-12 search-form-field">
              <div class="input-groupww mb-4eee input-group">

                <%= text_field_tag :rent, params[:rent], placeholder: "Where are you going?",' aria-label':"Where are you going?", 'aria-describedby':"basic-addon2", class: "form-control", id: "autolocation" %>
                <!-- <div class="input-group-append"> -->
                <%= hidden_field_tag "q[listing_type_eq_any][]", "For Rent", id: "listing_type", prompt: "Property-Type", class: "form-control select-field" %>
                  <%= f.select :bedroom_gteq, [["1 Bedroom", 1], ["2 Bedrooms", 2], ["3 Bedrooms", 3], ["4 Bedrooms", 4], ["5 Bedrooms", 5], ["6+ Bedrooms", 6]], id: "bedroom", prompt: "  Bedroom...  ", class: "form-control select-field" %>
                  <%= f.select :bathroom_gteq, [["1 Bathroom", 1], ["2 Bathrooms", 2], ["3 Bathrooms", 3], ["4 Bathrooms", 4], ["5 Bathrooms", 5], ["6+ Bathrooms", 6]], id: "bathroom", prompt: "  Bathroom...", class: "form-control select-field"  %>

                  <%#= f.select :property_type, [["Apartments/Flats", "Apartments/Flats"], ["Blocks Of Flats", "Blocks Of Flats"], ["Luxury Serviced Apartments", "Luxury Serviced Apartments"],
                                ["Bungalow", "Bungalow"], ["Duplexes", "Duplexes"], ["Self Contained/Studio", "Self Contained/Studio"],["Townhouses", "Townhouses"],
                                ["Penthouse", "Penthouse"], ["Terraces", "Terraces"], ["Commercial Property", "Commercial Property"], ["Industrial/Warehouse", "Industrial/Warehouse"],
                                ["Single Family House", "Single Family House"], ["Multi-Family-Home", "Multi-Family-Home"],["Hotels", "Hotels"], ["Land", "Land"],  ["Farms", "Farms"]
                                ], id: "property_type", prompt: "Property Type", class: "form-control select" %>
                  <%#= f.select :bedroom_gteq, [["1 Bedroom", 1], ["2 Bedrooms", 2], ["3 Bedrooms", 3], ["4 Bedrooms", 4], ["5 Bedrooms", 4], ["6 Bedrooms", 6], ["7+ Bedrooms", 7]], id: "bedroom", prompt: "Bed", class: "form-control" %>
                  <%#= f.select :bathroom_gteq, [["1 Bathroom", 1], ["2 Bathrooms", 2], ["3 Bathrooms", 3], ["4 Bathrooms", 4], ["5 Bathrooms", 5], ["6 Bathrooms", 6], ["7+ Bathrooms", 7]],
                                id: "bathrooms", prompt: "Bath", class: "form-control" %>
                  <%#= select_tag :listing_type, params[:listing_type],  id: "listing_type", prompt: "Select...", class: "form-control selsct" %>
                  <%#= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control datapicker" %>
                  <%#= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control datepicker" %>
                  <!-- <span class="input-group-text btn btn-normal" id="basic-addon2"><%= submit_tag '', class: "btn btn-normal"%> <i class="fa fa-search fa-2x"></i></span> -->
                    <!-- <span class="input-group-text btn btn-normal" id="basic-addon2"><%= submit_tag '<i class="fa fa-search fa-2x" aria-hidden="true"></i>'.html_safe, class: "btn btn-normal"%></span> -->
                  <!-- <span class="input-group-text btn btn-normal" id="basic-addon2"><%= button_tag type: 'submit', class: "btn btn-normal" do %>
                    <i class="fa fa-search" aria-hidden="true" style="font-size: 1.5rem;"></i>
                  <% end %> -->
                  <%= button_tag fa_icon("search "), class: "btn btn-normal", id: "register-button", style: "font-size: 1.8rem" %>
                  <!-- <span class= "input-group-text btn btn-normal", id= "basic-addon2"><%= button_tag type: 'submit', class: "btn btn-normal" do %>
                    <i class="fa fa-search" aria-hidden="true" style="font-size: 2rem;"></i>
                  <% end %> -->
                <!-- </span> -->
                </div>
              </div>
            </div>
          </div>
        <% end %>


    </div>
  </div>

  <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p> -->
</div>




<div class="container-show">
  <div class="row">
    <%= render partial: "listings/listings_list", locals: {listings: @listings_rent} %>
  </div>
</div>
<br>
<div class="container">
  <div><h3>Cities</h3></div>
    <br/>
  <div class="row">

    <div class="col-md-3 col-sm-6">
      <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=austin">
        <div class="discovery-card" style="background-image: url('/assets/LA.jpg')"></div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6">
      <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=london">
        <div class="discovery-card" style="background-image: url('/assets/LD.jpg')"></div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6">
      <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=paris">
        <div class="discovery-card" style="background-image: url('/assets/PR.jpg')"></div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6">
      <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=new+york">
        <div class="discovery-card" style="background-image: url('/assets/MI.jpg')"></div>
      </a>
    </div>
  </div>
</div>


<%= render "script" %>
