<div class="row" id="search_page">
  <div class="search-containers search-top ">
    <div class="container-show search-form-field">
      <div class="row">
        <div class="d-none d-sm-block col-lg-1 col-md-2 col-sm-2 fa-icon-main">
          <%= link_to "", search_path, class: "fa fa-map-marker fa-icon-text"%>
          <%= link_to "", search_list_path, class: "fa fa-align-justify fa-icon-text"%>

        </div>
        <div class="col-lg-11 col-md-10 col-sm-10">
          <%= search_form_for @search, url: search_path, remote: true do |f| %>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-12 input-group ">
                <%= text_field_tag :search, params[:search], placeholder: "Where are you going?",' aria-label':"Where are you going?", 'aria-describedby':"basic-addon2", class: "form-control ", id: "autolocation" %>
                <!-- <div > -->
                  <%= f.select :bedroom_gteq, [["1 Bedroom", 1], ["2 Bedrooms", 2], ["3 Bedrooms", 3], ["4 Bedrooms", 4], ["5 Bedrooms", 5], ["6+ Bedrooms", 6]], id: "bedroom", prompt: "Bedroom...", class: "form-control d-none d-sm-block" %>
                  <%= f.select :bathroom_gteq, [["1 Bathroom", 1], ["2 Bathrooms", 2], ["3 Bathrooms", 3], ["4 Bathrooms", 4], ["5 Bathrooms", 5], ["6+ Bathrooms", 6]], id: "bathroom", prompt: "Bathroom...", class: "form-control"  %>
                  <%= f.select :listing_type_eq_any, [["Short Stay", "Short Stay"],["For Sale", "For Sale"], ["For Rent", "For Rent"]], id: "listing_type", prompt: "Property-Type", class: "form-control " %>
                  <%= f.select :property_type_eq_any, [["Apartments/Flats", "Apartments/Flats"], ["Blocks Of Flats", "Blocks Of Flats"], ["Luxury Serviced Apartments", "Luxury Serviced Apartments"],
                                ["Bungalow", "Bungalow"], ["Duplexes", "Duplexes"], ["Self Contained/Studio", "Self Contained/Studio"],["Townhouses", "Townhouses"],
                                ["Penthouse", "Penthouse"], ["Terraces", "Terraces"], ["Commercial Property", "Commercial Property"], ["Industrial/Warehouse", "Industrial/Warehouse"],
                                ["Single Family House", "Single Family House"], ["Multi-Family-Home", "Multi-Family-Home"],["Hotels", "Hotels"], ["Land", "Land"],  ["Farms", "Farms"]
                                ], id: "property_type", prompt: "Home Type", class: "form-control " %>
                <!-- </div> -->
                <div class="float-right">
                  <%= f.submit "Find Home", class: "btn btn-form form-control", id: "search-btn"%>
                </div>

              </div>
            </div>
          <% end %>
        </div>
      </div>


    </div>
  </div>
  <div class="d-none d-sm-block col-md-6 col-sm-6" id="left_search_page">
    <div id="map" >
      <%= render "map_page" %>

    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-12" id="right_search_page" >

    <div class="row">
      <div class="container-search " >
        <div id="listings_list">
          <%= render partial: "listings/listings_sales", locals: { listings: @arrListings }%>
        </div>
        <div id="paginator">
          <%= paginate @listings, theme: 'twitter-bootstrap-4', :pagination_class => "pagination-small pagination-centered", remote: true %>
          <%#= will_paginate @arrListings, renderer: BootstrapPagination::Rails, class: 'pull-left paginate' %>
        </div>

        <br><br><br><br>
      </div>
    </div>
  </div>
</div>



<script>

  $(document).ready(function() {

    $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      fade: true,
      asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      asNavFor: '.slider-for',
      dots: false,
      centerMode: true,
      focusOnSelect: true
    });
  });

</script>
