<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <p>Hi, <%= @user.first_name %></p>
    <p><%= @message %></p>
    <p>Name: <%= @first_name %> <%= @last_name %></p>
    <p>Email: <%= @email %></p>
    <p>Phone: <%= @phone %></p>
  </body>
</html>
