<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <p>Hi, <%= @current_user.first_name %></p>
    <p><%= @first_name %> has submitted an application</p>
    <p><%= @email %></p>
    <p><%= @phone %></p>
    <p><%= @message %></p>
    <p><%= @start_date %></p>
    <p><%= @end_date %></p>
  </body>
</html>
